.header {
  background: var(--bg-white);
  box-shadow: 0 2px 2px 0px rgb(31 50 64 / 25%);
  padding: 8px 20px 5px 0;
  z-index: 1;
  position: relative;
  width: 100%;
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

/* new */
.left-toolbar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.score-box {
  background: var(--base-color);
  color: var(--primary-color);
  padding: 0.725rem 0.5rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  height: 40px;
  cursor: pointer;
}

.score-box span {
  font-size: 1rem;
  line-height: 18px;
  min-width: 26px;
  font-weight: 700;
}

.title-box {
  display: flex;
  align-items: center;
}

.title-box h6 {
  padding-top: 15px;
  padding-left: 7px;
}

.text-header {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.icon-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: var(--base-color);
  color: var(--primary-color);
  cursor: pointer;
  position: relative;
  padding: 5px 8px;
}
#sidebar {
  position: absolute;
  left: -100%;
  transition: 0.4s ease-in-out;
  z-index: 2;
}

#sidebar.open {
  left: 0;
}

.text-header {
  display: flex;
  align-items: center;
}

.text-header h6 {
  margin: 0 5px 0 0;
}
/* new */
