.content-ltr {
    width: 304px;
    min-width: auto;
    height: 100vh;
    padding-bottom: 30px;
    overflow-y: scroll;
}

.logo-box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1.5rem 1rem;
    background: var(--primary-color);
    gap: 0.5rem;
}

.logo-box .icon-avatar {
    cursor: pointer;
    width: 64px;
    height: 64px;
}

.logo-box .icon-avatar img {
    width: 64px;
    height: 64px;
}

.logo-box h5 {
    color: var(--white-color);
    margin: 0;
    font-size: 1rem;
    font-weight: 700;
}

.logo-box p {
    margin: 0.5rem 0 1rem;
    color: var(--white-color);
    font-size: .775rem;
}

.logo-box a {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: .775rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logo-box span , .logo-box svg {
    color: #9FD524;
}

.menu-box {
    background-color: var(--bg-white);
}

.menu-box ul {
    margin: 0 1rem;
    padding: 1rem 0;
    list-style: none;
    border-bottom: 1px solid var(--border-color);
}

.menu-box ul li:last-child {
    border-bottom: none;
}

.menu-box ul li {
    padding: 0.5rem 0;
    color: var(--primary-text-color);
    font-size: .875rem;
    cursor: pointer;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.menu-box ul .logout {
    color: var(--primary-color);
}

.menu-box ul .logout svg {
    fill: var(--primary-color);
}

.footer-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 1rem;
    gap: 0.5rem;
}

.footer-box p {
    margin: 0;
    font-size: .775rem;
    color: var(--secondary-text-color);
}