@font-face {
  font-family: 'dana-fanum';
  src: url('../src/assets/font/dana/dana-fanum-demibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'dana-fanum';
  src: url('../src/assets/font/dana/dana-fanum-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'dana-fanum';
  src: url('../src/assets/font/dana/dana-fanum-black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'dana-fanum';
  src: url('../src/assets/font/dana/dana-fanum-thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'dana-fanum';
  src: url('../src/assets/font/dana/dana-fanum-extrabold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'dana-fanum';
  src: url('../src/assets/font/dana/dana-fanum-ultrabold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'dana-fanum';
  src: url('../src/assets/font/dana/dana-fanum-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'dana-fanum';
  src: url('../src/assets/font/dana/dana-fanum-extralight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'dana-fanum';
  src: url('../src/assets/font/dana/dana-fanum-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'dana-fanum';
  src: url('../src/assets/font/dana/dana-fanum-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  direction: ltr;
  background-color: #F5F6FA;
  font-family: 'dana-fanum';
}

:root {
  --bg-white:#fff;
  --base-color:#F5F6FA;
  --primary-color:#FD2D6F;
  --notice-color: #ffffea;
  --secondary-text-color: #76778c;
  --secondary-color: #96DC01;
  --white-color: #fff;
  --box-color: #fff;
  --primary-text-color: #200f15;
  --border-color:#D2D3D9;
  --secondary-text-color:#9A9AAA;
}

button {
  border: none;
  background-color: transparent;
}

h2 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container-fluid {
  max-width: 760px;
  margin: auto;
}

.container-box {
  padding: 1rem;
}